@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

  header, nav, main, footer,body{
	max-width:1536px;
  }
  body {
	text-align: center;

  }

  nav ul {
	text-align: center;
  }

  main {
	position: relative;
	width: 100%;

  }


	article{

  }



  article p.town-article img {
  width: 29.333%;
  height: 29.33%;
  }


}
